<p id="notice"><%= notice %></p>

<% if request.original_url.split('=').last.include? '/' %>
<h1>All Books</h1>
<% else %>
<h1>All <%= request.original_url.split('=').last %> Books</h1>
<% end %>

<% @books.each do |book| %>
  <h2><%= link_to book.title, book %></h2>
  <p>
  <%= truncate(book.author, length: 200) %>
  <%= truncate(book.description, length: 200) %>
  </p>
<% end %>
